{% extends 'MyOrleansBundle::layout.html.twig' %}

    {% block content %}

        <div class="row center">
            <img src="{{ asset('img/infographie.png') }}" alt="infographie du parcours immobilier" />
        </div>

    {% endblock content %}