<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">


    <title>{% block title %}My-Orléans.com | l'immobilier en toute transparence{% endblock %}</title>

    {% block stylesheets %}
        <!--Import materialize.css-->
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" media="screen,projection"/>
    {% endblock %}

    <link rel="icon" href="{{ asset('img/Picto_My-Orleans_ombre_small.png') }}"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>

{% block body %}{% endblock %}

{% block javascripts %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.js') }}"></script>
{% endblock %}
</body>
</html>
