
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-size: 12px;
}
h1 {
    font-size: 22px;
    text-align: center;
}

h1::after, h3::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 8px;
    margin: 20px auto;
    background-color: #a5ca2a;
}

h2 {
    overflow: hidden;
    text-align: center;
    color: grey;
    font-size: 20px;
}

h2 span {
    position: relative;
}

h2 span:before,
h2 span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid white;
    border-top: 5px solid #a5ca2a;
    width: 400px;
    height: 7px;
    top: 50%;
    margin-top: -4px;
}

h2 span:before {
    right: 100%;
    margin-right: 15px;
}

h2 span:after {
    left: 100%;
    margin-left: 15px;
}

h3 {
    font-size: 16px;
    text-align: center;
}

p {
    font-size: 12px;
}

/* ------------------------------ BODY --------------------------------*/

body {
    font-family: Helvetica;
}

.body-container-margin {
    margin: 50px 20px 0 20px;
}

.btn, .btn-large {
    background-color: #b7d64a;
}

.btn:hover, .btn-large:hover, .btn:visited, .btn-large:visited, .btn:focus, .btn-large:focus {
    background-color: #a5c143;
}

::-webkit-input-placeholder {
    color: #b7d64a;
    opacity: 0.9 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: 0.3 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 0.3 !important;
}

:-ms-input-placeholder {
    color: black;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #a5c143;
}

.select-wrapper input.select-dropdown {
    color: rgba(0, 0, 0, 0.3);
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

/* ------------------------ PAGE RESIDENCE --------------------------*/

.offre-residence td {
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    background-color: rgb(255,255,255);
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #808080;
}
.offre{
    color: #EF562D;
}

.lieu-residence{
    color: rgb(192,192,192);
}

.subtab-residence{
    color: rgb(192,192,192);
}

.undervideo-residence{
    padding-top: 50px;
}

.icon-residence{
    width: 2em;
    height: 2em;
}

.citation-residence{
    background-color: rgb(68,68,68);
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 2em;
    padding: 20px;
}

.pinel-residence{
    text-align: right;
}

.consulter-residence{
    color: rgb(192,192,192);
}

.accordeon-residence{
    padding-bottom: 30px;
}

.btn-residence{
    background-color: rgb(189,217,90);
}

.collapsible-header{
    font-size: large;
}

th{
    font-size: 20px;
}

td{
    font-size: 16px;
}

#map-residences {
    width:100%;

}

.notation{
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-vendu{
    background-color: #FFFFF1 !important;
    color : #EF562D;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
#map-residences {
    width:100%;
    margin: auto;

}

/* ------------------------ PAGE APPARTEMENT --------------------------*/

.contacter{
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    background-color: rgb(255,255,255);
    padding: 10px;
    margin-top: 10px;
    color: #808080;
    text-align: center;
}
.contacter > h2{
    font-size: 14px;
}

.content-appartement{
    padding-top: 10px;
}

.rang-presta{
    padding: 10px;
    padding-left: 50px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    background-color: rgb(255,255,255);
    height:200px;
}

.photo-apt > img{
    position: relative;
    width: 580px;
    margin-left: 60px;
}
.info-apt {
    position: absolute;
    top: 150px;
    right: 60px;
    width: 200px;
    height: 210px;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    background-color: rgb(255,255,255);
    margin-top: 70px;
    padding: 10px;
    margin-bottom: 40px;
}
.info-apt > h3{
    font-size: 14px;
    line-height: 2px;
}

.plan-apt > img{
    width: 600px;
}
.photo-residence > img{
    width: 750px;
}
.prestation > p{
    font-size: 10px;
}

.icon-apt{
    width: 1.5em;
    height: 1.5em;
    padding-top: 10px;
}

.icon-residence{
    width: 1.5em;
    height: 1.5em;
    padding-top: 10px;
}


.rapel-residence{
    padding: 20px;

    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    background-color: rgb(255,255,255);
    height:200px;
}
.rapel-residence > p{
    font-size: 16px;
}

.prestations-residence{
    padding: 20px;

    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    background-color: rgb(255,255,255);
    height:200px;
}



.box-notesite{
    margin: 40px;
}

/* bloc pour les compteurs sur les pages rÃ©sidences */

.notesite {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 100px;
    cursor: default;
}
.notesite>.percent {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    top: 25px;
    font-size: 35px;
}
.notesite>.percent .dec {
    font-size: 20px;
}
.notesite>#slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
}
.notesite>#slice.gt50 {
    clip: rect(auto, auto, auto, auto);
}
.notesite>#slice>.pie {
    position: absolute;
    border: .1em solid #444;
    width: .8em;
    height: .8em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: .5em;
}
li.design .notesite>#slice>.pie {
    border-color: #df6c4f;
}
li.creativity .notesite>#slice>.pie {
    border-color: #3c948b;
}
li.usability .notesite>#slice>.pie {
    border-color: #ecd06f;
}
li.content .notesite>#slice>.pie {
    border-color: #1a99aa;
}
.notesite>#slice>.pie.fill {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg)!important;
}
.notesite.fill>.percent {
    display: none;
}
.notesite:after {
    content: '';
    display: block;
    position: absolute;
    top: .1em;
    left: .1em;
    width: .8em;
    height: .8em;
    background: #e1e3e4;
    border-radius: .5em;
    z-index: 1;
}
.notesite:before {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    opacity: .5;
    z-index: 0;
}
li.design .notesite:before {
    background: #df6c4f;
}
li.creativity .notesite:before {
    background: #3c948b;
}
li.usability .notesite:before {
    background: #ecd06f;
}
li.content .notesite:before {
    background: #1a99aa;
}
li.total .notesite:before {
    background: #cfd1d0;
}
.list-legend ul {
    clear: both;
    overflow: hidden;
}
.list-legend ul li {
    float: left;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.list-legend.style2 ul {
    padding: 0 0 21px 0;
}
.list-legend-awards ul {
    overflow: hidden;
}
.list-legend-awards ul li {
    float: left;
    width: auto;
    font-size: 13px;
    text-transform: uppercase;
}
.list-legend-awards ul li:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.list-legend-awards ul li.sotd:before {
    background-color: #3c948b;
}
.list-legend-awards ul li.sotm:before {
    background-color: #444;
}
.list-legend-awards ul li.soty:before {
    background-color: #888;
}
.list-legend-awards ul li.developer:before {
    background-color: #00b3d1;
}
li {
    list-style-type: none;
}
li.content .notesite>#slice>.pie {
    border-color: #1a99aa;
}
.notesite>#slice>.pie.fill {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}
.notesite.fill>.percent {
    display: none;
}
.notesite:after {
    content: '';
    display: block;
    position: absolute;
    top: .1em;
    left: .1em;
    width: .8em;
    height: .8em;
    background: #e1e3e4;
    border-radius: .5em;
    z-index: 1;
}
.notesite:before {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    opacity: .5;
    z-index: 0;
}
li.design .notesite:before {
    background: #df6c4f;
}
li.creativity .notesite:before {
    background: #3c948b;
}
li.usability .notesite:before {
    background: #ecd06f;
}
li.content .notesite:before {
    background: #1a99aa;
}
li.total .notesite:before {
    background: #cfd1d0;
}

*,*::before, *::after{
    box-sizing: content-box;
}

li.usability{
    text-align: center;
}

li.content{
    text-align: center;
}

li.creativity{
    text-align: center;
}

li.design{
    text-align: center;
}



