html, body {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 22px;
    text-align: center;
}

h3 {
    font-size: 28px;
    text-align: center;
}

h1::after, h3::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 8px;
    margin: 20px auto;
    background-color: #a5ca2a;
}

h2 {
    overflow: hidden;
    text-align: center;
    color: grey;
    font-size: 36px;
}

h2 span {
    position: relative;
}

h2 span:before,
h2 span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid white;
    border-top: 5px solid #a5ca2a;
    width: 400px;
    height: 7px;
    top: 50%;
    margin-top: -4px;
}

h2 span:before {
    right: 100%;
    margin-right: 15px;
}

h2 span:after {
    left: 100%;
    margin-left: 15px;
}

p {
  font-size: 16px;
}

/* --------------------------------------------------------------------*/
/* ------------------------- NAVBAR -----------------------------------*/
/* --------------------------------------------------------------------*/

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 85px;
}

nav {
    background-color: rgba(248, 248, 248, 0.9);
    padding: 10px 20px;
}

nav .brand-logo {
    color: #7a7a7a;
}

nav ul a {
    color: #7a7a7a;
    font-size: 16px;
}

/*nav li {
    border-right: solid #7a7a7a 1px;
}*/

nav .dropdown-button {
    color: #7a7a7a;
}

.logo {
    height: 50px;
    margin-top: 7px;
}

/* --------------------------------------------------------------------*/
/* ------------------------------ BODY --------------------------------*/
/* --------------------------------------------------------------------*/
body {
    font-family: Helvetica;
}

.body-container-margin {
    margin: 50px 20px 0 20px;
}

.btn, .btn-large {
    background-color: #b7d64a;
}

.btn:hover, .btn-large:hover, .btn:visited, .btn-large:visited, .btn:focus, .btn-large:focus {
    background-color: #a5c143;
}

::-webkit-input-placeholder {
    color: #b7d64a;
    opacity: 0.9 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: 0.3 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 0.3 !important;
}

:-ms-input-placeholder {
    color: black;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #a5c143;
}

.select-wrapper input.select-dropdown {
    color: rgba(0, 0, 0, 0.3);
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

/* --------------------------------------------------------------------*!
!* ------------------------ ACCUEIL --------------------------*!
!* --------------------------------------------------------------------*/
/*#siteWrapper header {
    position: absolute;
    top: inherit;
    bottom: 0;
    left: 0;
    right: 0;
}


#siteWrapper header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.cover {
    background: rgba(0, 0, 0, 0) url("../img/cover2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

#GrandeIntro {
    height: 100%;
    background: url("../img/cover2.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}

.pictoParcours{
    margin-top: 150px;
}

.pictoParcours a i {
    font-size: 400px;
    color: grey ;
    -webkit-transition:color 250ms ease-out;
    -moz-transition:color 250ms ease-out;
    transition:color 250ms ease-out;
}
.pictoParcours a:hover i {
    font-size: 400px;
    color: #a5ca2a ;
}

#siteWrapper {
    margin-top: -80px;
}

#siteWrapper header {
    height: 80px;
}

#siteWrapper header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* ==========================================================================
ACCUEIL - EFFET PARALLAX  ========================================================================== */

.parallax-container {
    min-height: 380px;
    height: auto;
    position: relative;
}

.parallax-window {
    position: relative;
    top: 0;
}

.parallax-testimonial img {
    filter: blur(4px) brightness(0.5);
}

/* ==========================================================================
 FIN ACCUEIL - EFFET PARALLAX  ========================================================================== */

.row .grille-infos {
    margin-bottom: 0;
}

.row .nom-residence {
    padding-bottom: 20px;
}

.col .annee-residence {
    padding-left: 2px;
}

/*--- Creation des lignes entre les informations des residences ---*/

.nom-residence {
    border-bottom: solid 1px #e5e5e5;
}

.annee-residence, .grille-gauche {
    border-right: solid 1px #e5e5e5;
}

.liste-biens h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #b7d64a;
    font-size: 18px;
}

/* ==========================================================================
 ACCUEIL - BLOC TEMOIGNAGES ========================================================================== */

.h3-testimonial {
    color: white;
    margin-bottom: 30px;
    margin-top: 80px;
}

.box_overlay {
    background-color: rgba(0, 0, 0, .8);
    padding: 25px 25px 25px 225px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    text-align: left;
}

.box_overlay, .pic h4 {
    font-size: 14px;
    color: #fff;
}

.pic {
    left: 25px;
    top: 25px;
    width: 190px;
    height: 80px;
}

.pic, .pic h4 {
    position: absolute;
}

.pic h4 {
    left: 95px;
    top: 18px;
}

figure {
    margin: 0;
}

.pic figure {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.pic figure img {
    height: auto;
}

.pic h4 small {
    display: block;
    color: #fff;
    margin-top: 3px;
}

.owl-theme .owl-nav {
    display: none;
}

.comment {
    border-left: 1px solid rgba(255, 255, 255, .5);
    padding-left: 25px;
}

.formSearch {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 50px;
    position: relative;
    padding: 15px !important;
}

@media screen and (min-height: 480px) {
    .formButton {
        margin: 10px;
        font-size: 14px;
    }
}

.downButton {
    margin-top: 50px;
}

.mosaic_container {
    position: relative;
}

.owl-theme .owl-dots {
    margin-top: 20px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #a5c143;
}

@media screen and (max-width: 767px ) {
    .pic, .pic h4 {
        position: static;
    }

    .box_overlay {
        padding: 25px;
        text-align: center;
    }

    .pic {
        margin-bottom: 25px;
        width: 100%;
        display: block;
    }

    .pic figure {
        margin: auto;
    }

    .comment {
        border-left: none;
        padding-left: 0;
        padding-top: 30px;
    }

}

/* ==========================================================================
FIN ACCUEIL - BLOC TEMOIGNAGES
========================================================================== */

/* ==========================================================================
ACCUEIL - BLOC AGENCE
========================================================================== */
.agencyHome {
    background-color: #212121;
    color: white;
}

.modal-trigger {
    color: #757575;
}

.modal-trigger i {
    color: #8bc34a;
    font-size: 20px;
}

.buttonNewsletter {
    margin-bottom: -55px;
    height: 50px;
    text-align: center;

}

.carouselAgence {
    background-color: #c8cacc;
}

.carouselAgence .carousel {
    height: 550px;
}

.carouselAgence .carousel a {
    color: white;

}

.carouselAgence .carousel .carousel-item {
    height: 350px;
    width: 350px;

}

@media screen and (max-width:767px ){
    .carouselAgence .carousel {
        height: 400px;
    }

    .carouselAgence .carousel .carousel-item {
        height: 150px;
        width: 150px;
    }

    .buttonNewsletter{
        font-size: 14px;
    }
}

/* ==========================================================================
FIN ACCUEIL - BLOC AGENCE
=======*/



.section-title {
    font-size: 28px;
    text-align: center;
}

.section-title::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 8px;
    margin: 20px auto;
    background-color: #a5ca2a;
}


/* --------------------------------------------------------------------*/
/* ------------------------------ FOOTER ------------------------------*/
/* --------------------------------------------------------------------*/

.pre-footer {
    margin-bottom: -7px;
}

.skyline {
    width: 100%;
}

.page-footer {
    background-color: #c8cacc;
}

.footer-right-side {
    border-left: solid #7a7a7a 1px;
}

.footer-right-side a {
    color: #444444;
}

.social-footer {
    color: white;
}

.p-footer {
    color: #444444;
    font-size: 16px;
}

.p-footer-phone {
    color: #444444;
    font-size: 28px;
}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

.social-btn {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 50px 0 0;
}

.icon-social {
    margin-top: 10px;
    margin-left: 13px;
    color: #c8cacc;
}

.fb-social {
    margin-top: 11px;
    margin-left: 17px;
    color: #c8cacc;
}

/* --------------------------------------------------------------------*/
/* ------------------------ MENTIONS LEGALES --------------------------*/
/* --------------------------------------------------------------------*/

.page-footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.1);
}

.ml-padding-right {
    padding-right: 10px;
}

.row-ml {
    margin-bottom: 0;
}

