html, body{
    height:100%;
}

/* --------------------------------------------------------------------*/
/* ------------------------- NAVBAR -----------------------------------*/
/* --------------------------------------------------------------------*/

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 85px;
}

nav {
    background-color: rgba(248, 248, 248, 0.9);
    padding: 10px 20px;
}

.navbar-nosbiens nav {
    background-color: rgba(248, 248, 248, 1);
}

nav .brand-logo {
    color: #7a7a7a;
}

nav ul a {
    color: #7a7a7a;
}

/*nav li {
    border-right: solid #7a7a7a 1px;
}*/

nav .dropdown-button {
    color: #7a7a7a;
}

.logo {
    height: 50px;
    margin-top: 7px;
}

/* --------------------------------------------------------------------*/
/* ------------------------------ BODY --------------------------------*/
/* --------------------------------------------------------------------*/
body {
    font-family: Helvetica;
}

.body-container-margin {
    margin: 23px 20px 0 20px;
}

.btn, .btn-large {
    background-color: #b7d64a;
}

.btn:hover, .btn-large:hover, .btn:visited, .btn-large:visited, .btn:focus, .btn-large:focus {
    background-color: #a5c143;
}

::-webkit-input-placeholder {
    color: #444444;
    opacity: 0.9 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: 0.5 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: black;
    opacity: 0.5 !important;
}

:-ms-input-placeholder {
    color: black;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #a5c143;
}

.select-wrapper input.select-dropdown {
    color: rgba(44, 44, 44, 0.6);
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}


/* ------------------------ Page Nos Biens ----------------------------*/

.page-nosbiens h1 {
    font-size:36px;
    margin-bottom: 5px;
}

.page-nosbiens h2 {
    font-size:20px;
    color: #858585;
}

.page-nosbiens .card-content h2 {
    font-size:20px;
    color: #858585;
    margin-top: 5px;
}

.page-nosbiens .alignement-titre h2 {
    padding-top: 12px;
}

.page-nosbiens .liste-biens h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.page-nosbiens p {
    font-size: 20px;
    color: #444444;
}

.page-nosbiens .proposition-services h4 {
    font-size: 22px;
    font-weight: 600;
}

.liste-biens .card.large {
    height: 580px;
}

.card .card-content p {
    font-size: 14px;
    color: #858585;
}

.bordure-titre {
    border-bottom: solid 4px #b7d64a;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #b7d64a;
    font-size: 18px;
}

.moteur-recherche {
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    padding: 5px 10px;
    position: fixed;
    width: 98%;
    z-index: 99999;
}

.titre-recherche {
    margin-bottom: 5px;
    padding-left: 10px;
}

.carte {
    margin-top: 15px;
    /*
    margin-left: 0;
    */
    position: fixed;
    top: 270px;
}

#map {
    width: 75%;
    height: 570px;
    background-color: white;
    box-shadow: 1px 1px 10px #c2c2c2;

}

.liste-biens {
    margin-top: 190px;
}

/*--- Alignemant des informations des residences---*/

.row .annee-nbPiece h4 {
    margin-top: -1px;
}

.liste-biens .card .card-content {
    padding: 10px;
}

.row .grille-infos {
    margin-bottom: 0;
}

.row .nom-residence {
    padding-bottom: 20px;
}

.col .annee-residence {
    padding-left: 2px;
}

/*--- Creation des lignes entre les informations des residences ---*/

.nom-residence {
    border-bottom: solid 1px #e5e5e5;
}

.annee-residence, .grille-gauche {
    border-right: solid 1px #e5e5e5;
}

/* --- Mise en forme des articles du bas e page ---*/

/* ---------------------------IMMO PRATIQUE---------------------------------------*/


.immobilier{
    color: grey;
    text-align: center;
}

.block-1{
    position:absolute;
    margin-left: 500px;
}


/* ------------------------------------------------------------------*/


/* ---------------------------NOS SERVICES----------------------------*/


.card-title{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.fancy {
    overflow: hidden;
    text-align: center;
    color: grey;
}

.fancy span {
    position: relative;
}

.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid white;
    border-top: 5px solid #a5ca2a;
    width: 400px;
    height: 7px;
    top: 50%;
    margin-top: -4px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

.packs{

    background-color: rgb(68,68,68);
}

.boxi {
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    margin-top: -10px;
    padding: 0 10px 10px 10px;
}

.boxi1 {
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    margin-top: -10px;
    padding: 0 10px 10px 10px;
    position: absolute;
}

.barre-recherche{
    margin-top: 22px;
    position: absolute;
    bottom: 200px;
    width: 95%;
    left: 25px;
}

.nav-recherche{
    border-radius: 25px;
    width: 40%;
}

.header-image{
    width: 200%;
    margin-top: 22px;
}

.btn-large{
    display: block;
    margin : auto;
}

.breadcrumb {
    /*centering*/
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    background-color: #b7d64a;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 25px;
    position: fixed;
    margin-left: 1150px;
    padding: 10px;

}

.breadcrumb a {
    text-decoration: none;
    color:white;
}

#slide-out{
    border-radius: 25px;

}

/* --------------------------------------------------------------------*/
/* ------------------------ PAGE RESIDENCE --------------------------*/
/* --------------------------------------------------------------------*/

.offre-residence td {
    border: 1px solid black;
}

.lieu-residence{
    color: rgb(192,192,192);
}

.subtab-residence{
    color: rgb(192,192,192);
}

.undervideo-residence{
    padding-top: 30px;
}

.icon-residence{
    width: 2em;
    height: 2em;
}

.citation-residence{
    background-color: rgb(68,68,68);
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 2em;
    padding: 20px;
}

.pinel-residence{
    text-align: right;
}

.consulter-residence{
    color: rgb(192,192,192);
}

.content-residence{
    padding-top: 20px;
}

.accordeon-residence{
    padding-bottom: 30px;
}

.btn-residence{
    background-color: rgb(189,217,90);
}





#map-residences {
    width:100%;
    height: 300px;
}


/* --------------------------------------------------------------------*/
/* ------------------------ FIN PAGE RESIDENCE --------------------------*/
/* --------------------------------------------------------------------*/

/* --------------------------------------------------------------------*/
/* ------------------------ PAGE APPARTEMENT --------------------------*/
/* --------------------------------------------------------------------*/
.content-appartement{
    padding-top: 20px;
}

.info-apt {
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    background-color: white;
    margin-top: -10px;
    padding: 0 10px 10px 10px;
}
.icon-apt{
    width: 2.5em;
    height: 2.5em;
}
/*.photo-apt{
    width: ;
}*/


/* --------------------------------------------------------------------*/
/* ------------------------ FIN PAGE APPARTEMENT --------------------------*/
/* --------------------------------------------------------------------*/

/*!* --------------------------------------------------------------------*!
!* ------------------------ ACCUEIL --------------------------*!
!* --------------------------------------------------------------------*!

.cover{
    background:rgba(0,0,0,0) url("../img/cover2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formSearch{
    background-color: rgba(0,0,0, 0.7);
    margin-top : 250px !important;
    position: relative;
}

.centerFormSearch{
    margin: 0 auto;
    float: none;
}*/





/* --------------------------------------------------------------------*/
/* ------------------------ ACCUEIL BIS --------------------------*/
/* --------------------------------------------------------------------*/


/* ==========================================================================
ACCUEIL - EFFET PARALLAX  ========================================================================== */

.parallax-container {
    min-height: 380px;
    height:auto;
    position: relative;
}


.parallax-window{
    position: relative;
    top: 0;
}
/* ==========================================================================
 FIN ACCUEIL - EFFET PARALLAX  ========================================================================== */


/* ==========================================================================
 ACCUEIL - BLOC TEMOIGNAGES ========================================================================== */


.h3-testimonial {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
    margin-top: 80px;
}
.box_overlay {
    background-color: rgba(0,0,0,.8);
    padding: 25px 25px 25px 225px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    text-align: left;
}

.box_overlay, .pic h4 {
    font-size: 14px;
    color: #fff;
}

.pic {
    left: 25px;
    top: 25px;
    width: 190px;
    height: 80px;
}

.pic, .pic h4 {
    position: absolute;
}
.pic h4 {
    left: 95px;
    top: 18px;
}

figure{
    margin: 0;
}
.pic figure {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.pic figure img {
    height: auto;
}

.pic h4 small {
    display: block;
    color: #fff;
    margin-top: 3px;
}


.owl-theme .owl-nav{
    display: none;
}


.comment {
    border-left: 1px solid rgba(255,255,255,.5);
    padding-left: 25px;
}

.formSearch{
    background-color: rgba(255,255,255, 0.9);
    margin-top: 300px;
    position: relative;
}


.downButton {
    margin-top: 50px;
}
.mosaic_container{
    position: relative;
}

.owl-theme .owl-dots{
    margin-top : 20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #a5c143;
}

@media screen and (max-width: 767px ){
    .pic,.pic h4 {
        position:static;
    }

    .box_overlay {
        padding:25px;
        text-align:center;
    }
    .pic {
        margin-bottom:25px;
        width: 100%;
        display: block;
    }
    .pic figure {
        margin:auto;
    }
    .comment {
        border-left: none;
        padding-left: 0;
        padding-top: 30px;
    }

}

/* ==========================================================================
FIN ACCUEIL - BLOC TEMOIGNAGES
========================================================================== */

/* ==========================================================================
ACCUEIL - BLOC AGENCE
========================================================================== */
.agencyHome{
    background-color: #212121;
    color:white;
}

.modal-trigger {
    color: #757575;
}

.modal-trigger i{
    color: #8bc34a;
    font-size: 20px;
}

.buttonNewsletter {
    margin-bottom: -55px;
}

.carouselAgence{
    background-color: #E6E6E6;
}

.carouselAgence .carousel{
    height: 550px;
}

.carouselAgence .carousel a{
    color : white;

}
.carouselAgence .carousel .carousel-item{
    height: 350px;
    width: 350px;

}

/* ==========================================================================
FIN ACCUEIL - BLOC AGENCE
========================================================================== */



/* --------------------------------------------------------------------*/
/* ------------------------ L'AGENCE --------------------------*/
/* --------------------------------------------------------------------*/

.agencyVideo{
    margin-top: 50px;
}


#myIframe{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:500px;
}

.countTitle{
    font-size: 150px;
}

.countTitle::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 8px;
    margin: 20px auto;
    background-color: #a5ca2a;
}
.countBlock{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.countRow{
    margin-top: 50px;
    margin-bottom: 50px;

}


.equipeRow{
    padding-top: 50px;
}
.blockStaff{
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}


.blockStaff .imgStaff img{
    display: block;
    opacity: 1;
    filter: grayscale(0%);
    height: 300px;
    width: 300px;
    -webkit-transition:color 250ms ease-out;
    -moz-transition:color 250ms ease-out;
    transition:color 250ms ease-out;
}

@media screen and (min-width:320px){
    .blockStaff .imgStaff img{
        height: 300px;
        width: 300px;
    }
}


.blockStaff:hover .imgStaff img{
    display: block;
    opacity: 0.75;
    filter: grayscale(100%);
}

.blockStaff .infoStaff{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    opacity: 0;
}

.blockStaff:hover .infoStaff {
    opacity: 1;
    transition: all 0.15s ease 0s;
}

/*.socialStaff a{
    display: inline-block;
    width: 40px;
    height: 40px;
    bottom: 40px;
    font-size: 30px;
    color: white;
    -webkit-transition:color 250ms ease-out;
-moz-transition:color 250ms ease-out;
transition:color 250ms ease-out;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
}

.socialStaff a:hover{
    color: #A5CA2A;

}*/

.socialStaff i{
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
}

.socialStaff a.mail{
    margin-left: 40px;
    color : #A5CA2A;
}

.infoStaff h3{
    font-size: 25px;
}

.infoStaff h4{
    font-size: 20px;
}

.infoStaff h4::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 8px;
    margin: 20px auto;
    background-color: #a5ca2a;
}


.partenaires{
    background-color: #f7f7f7;
}

.partenaires a img{
    margin: auto;
    max-height: 100%;
    max-width: 80%;
    opacity: .65;
    filter: grayscale(1);
}


/* --------------------------------------------------------------------*/
/* ------------------------------ FOOTER ------------------------------*/
/* --------------------------------------------------------------------*/

.pre-footer {
    margin-bottom: -7px;
}

.skyline {
    width: 100%;
}

.page-footer {
    /*
    background-color : #939597;
    */
    background-color: black;

    /*    background-image: url('../img/toit_Orleans2-01.svg');
        background-size: cover;*/
}

.footer-right-side {
    border-left: solid #7a7a7a 1px;
}

.footer-right-side a {
    color: lightgrey;
}

.social-footer {
    color: white;
}

.p-footer {
    color: #444444;
    font-size: 16px;

}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

.social-button {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 50px 0 0;
}

/* --------------------------------------------------------------------*/
/* ------------------------ MENTIONS LEGALES --------------------------*/
/* --------------------------------------------------------------------*/

.page-footer .footer-copyright {
    background-color: rgba(255, 255, 255, 0.1);
}

.ml-padding-right {
    padding-right: 10px;
}

.row-ml {
    margin-bottom: 0;
}


/* ------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------- MEDIA QUERIES --------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:992px){
    .moteur-recherche-small-screen {
        margin-top: 40px;
    }

    .liste-biens {
        margin-top: 0;
    }
}