/*-------------------------------------------------------------*/
/*-------------       OUTILS PRATIQUES        -----------------*/
/*-------------------------------------------------------------*/



/*-------------------------------------------------------------*/
/*-----------------       GENERAL        ----------------------*/
/*-------------------------------------------------------------*/

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    font-size: 110px;
    margin-bottom: 0;
    margin-top: 120px;
}

h3 {
    overflow: hidden;
    text-align: center;
    color: #EF562D;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3 span {
    position: relative;
}

h3 span:before,
h3 span:after {
    content: "";
    position: absolute;
    border-top: 2px solid #bebebe;
    width: 400px;
    height: 7px;
    top: 50%;
}

h3 span:before {
    right: 100%;
    margin-right: 15px;
}

h3 span:after {
    left: 100%;
    margin-left: 15px;
}

h4 {
    font-size: 28px;
    color: #444444;
}

p {
    font-size:16px;
}

a {
    color: #EF562D;
    font-size: 16px;
}

.header-blog p {
    padding-top: 30px;
    font-size: 24px;
}

.card.large {
    height: 410px;
}

/*----------------------------------------------------*/


.article-blog h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.article-blog h2 {
    font-size: 28px;
    margin: 10px 0;
}

.article-blog h3, .suggestion-contenu h3 {
    font-size: 24px;
    text-align: left;
}

.article-blog h4 {
    font-size: 18px;
    color: black;
    text-align: left;

}

.article-blog p {
    text-align: justify;
}

/*----------------------------------------------------*/

.margin-top-container {
    margin-top: 30px;
}

.margin-top-container-article {
    margin-top: 40px;
}

.lien-article {
    margin-top: 15px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.separe {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(239, 86, 45, 0.75), rgba(0, 0, 0, 0));
    border: 0 none;
    color: #ef562d;
    height: 1px;
    margin: 40px 0;
}

/*-------------------------------------------------------------*/
/*-----------------       NAVBAR        -----------------------*/
/*-------------------------------------------------------------*/

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
}

nav {
    background-color: #ffffff;
    padding: 10px 20px;
}

/*nav .brand-logo {
    color: #7a7a7a;
}*/

nav ul a {
    font-size: 20px;
    color: #444444;
}

nav ul a:hover, nav ul a:active {
    border-bottom: solid 5px #EF562D;
    background-color: white;
}

nav .dropdown-button {
    color: #7a7a7a;
}

.logo {
    height: 70px;
    margin-top: 7px;
}

/*-------------------------------------------------------------*/
/*-----------------       HEADER        -----------------------*/
/*-------------------------------------------------------------*/


.header-blog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: #ffffff;
}

.parallax-container {
    height: 600px;
    position: relative;
}

/*-------------------------------------------------------------*/
/*------------       BARRE RECHERCHE        -------------------*/
/*-------------------------------------------------------------*/

.barre-recherche {
    padding: 5px 0;
}

.btn, .btn-large {
    background-color: white;
    color: #EF562D;
 }

.btn:hover, .btn-large:hover, .btn:visited, .btn-large:visited, .btn:focus, .btn-large:focus {
    color: #EF562D;
    background-color: white;
}

::-webkit-input-placeholder {
    color: #EF562D;
    opacity: 0.9 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #EF562D;
    opacity: 0.3 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #EF562D;
    opacity: 0.3 !important;
}

:-ms-input-placeholder {
    color: #EF562D;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #444444;
}

.select-wrapper input.select-dropdown {
    color: #EF562D;
}



/*-------------------------------------------------------------*/
/*------------       SLIDE OVER EFFECT        -----------------*/
/*-------------------------------------------------------------*/

.blockArticle{
    position: relative;
    overflow: hidden;
    margin: 0 0 10px 0;
}


.blockArticle .imgArticle img{
    display: block;
    width: 100%;
    opacity: 1;
    filter: grayscale(0%);
    -webkit-transition:color 250ms ease-out;
    -moz-transition:color 250ms ease-out;
    transition:color 250ms ease-out;
}

.blockArticle:hover .imgArticle img{
    display: block;
    opacity: 0.75;
    filter: grayscale(100%);
}

.blockArticle .titreArticle{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    opacity: 1;
}

.blockArticle:hover .titreArticle {
    opacity: 0;
}

.blockArticle .infoArticle{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: #000;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    opacity: 0;
}

.blockArticle:hover .infoArticle {
    opacity: 1;
    transition: all 0.15s ease 0s;
}

.infoArticle h4::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 8px;
    margin: 20px auto;
    background-color: #EF562D;
}


/*-------------------------------------------------------------*/
/*--------------       EFFET GRID FLEX        -----------------*/
/*-------------------------------------------------------------*/

/*.flexcol {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flexbox {
    text-align: center;
    transition: .3s;
    max-width: 30%;
    padding: 8em 0;
    min-width: 10%;
}

.flexbox:hover{
     transition: .3s;
     max-width: 40%;
     flex-grow: 1.5;
     cursor: pointer;
}

.final-row-grid {
    margin-bottom: 170px;
}*/



/* --------------------------------------------------------------------*/
/* ------------------------ CONTENU SUGGERE ---------------------------*/
/* --------------------------------------------------------------------*/



/*--- Alignemant des informations des residences---*/

.suggestion-contenu .card .card-content {
    padding: 5px 20px;
}


.suggestion-contenu .card .card-content h4 {
    font-size: 20px;
    font-weight: bold;
}

.suggestion-contenu .card .card-content p {
    font-size: 16px;
}

.col.right-content {
    padding-left: 20px;
    border-left: solid 1px #fefefe;
}


/*--- Creation des lignes entre les informations des residences ---*/

.nom-residence {
    border-bottom: solid 1px #e5e5e5;
}

.annee-residence, .grille-gauche {
    border-right: solid 1px #e5e5e5;
}



/* --------------------------------------------------------------------*/
/* ------------------------------ FOOTER ------------------------------*/
/* --------------------------------------------------------------------*/

.pre-footer {
    margin-bottom: -7px;
}

.skyline {
    width: 100%;
}

.page-footer {
    background-color: #ee491d;
}

.footer-right-side {
    border-left: solid #7a7a7a 1px;
}

.footer-right-side a {
    color: #ffffff;
}

.social-footer {
    color: white;
}

.p-footer {
    color: #ffffff;
    font-size: 16px;
}

.p-footer-phone {
    color: #ffffff;
    font-size: 28px;
}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

.social-btn {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    background-color: white;
    margin: 15px 50px 0 0;
}

.icon-social {
    margin-top: 10px;
    margin-left: 13px;
    /*
    color: rgba(239, 86, 45, .6);
    */
    color: #ee491d;
}

.fb-social {
    margin-top: 11px;
    margin-left: 17px;
    /*
    color: rgba(239, 86, 45, .6);
    */
    color: #ee491d;
}

/* --------------------------------------------------------------------*/
/* ------------------------ MENTIONS LEGALES --------------------------*/
/* --------------------------------------------------------------------*/

.page-footer .footer-copyright {
    background-color: rgba(0, 0, 0, 0.1);
}

.ml-padding-right {
    padding-right: 10px;
}

.row-ml {
    margin-bottom: 0;
}

/* --------------------------------------------------------------------*/
/* ------------------------   PAGE ARTICLE  --------------------------*/
/* --------------------------------------------------------------------*/

.barre-recherche-article {
    background-color: #ffffff;
    padding: 20px 0 0 0;
    margin-bottom: 0;
}

.titre-article {
    padding-top: 30px;
}

.img-article {
    width: 100%;
    margin-top: 0;
}

.img-corps-article {
    float: right;
    width: 500px;
    margin: 20px;
}

.text-suggestion-article {
    padding-bottom: 15px;
}

.tags {
}




/* --------------------------------------------------------------------*/
/* ------------------------   MEDIA QUERIES  --------------------------*/
/* --------------------------------------------------------------------*/

