/* --------------------------------------------------------------------*/
/* ------------------------- NAVBAR -----------------------------------*/
/* --------------------------------------------------------------------*/

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 85px;
}

nav {
    background-color: rgba(248, 248, 248, 1);
    padding: 10px 20px;
}

nav .brand-logo {
    color: #7a7a7a;
}

nav ul a {
    color: #7a7a7a;
}

/*nav li {
    border-right: solid #7a7a7a 1px;
}*/

nav .dropdown-button {
    color: #7a7a7a;
}

.logo {
    height: 50px;
    margin-top: 7px;
}

/* --------------------------------------------------------------------*/
/* ------------------------------ BODY --------------------------------*/
/* --------------------------------------------------------------------*/
body {
    font-family: Helvetica;
}

.body-container-margin {
    margin: 50px 20px 0 20px;
}

.btn, .btn-large {
    background-color: #b7d64a;
}

.btn:hover, .btn-large:hover, .btn:visited, .btn-large:visited, .btn:focus, .btn-large:focus {
    background-color: #a5c143;
}

::-webkit-input-placeholder {
    color: #b7d64a;
    opacity: 0.9 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: black;
    opacity: 0.3 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: black;
    opacity: 0.3 !important;
}

:-ms-input-placeholder {
    color: black;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #a5c143;
}

.select-wrapper input.select-dropdown {
    color: rgba(0, 0, 0, 0.3);
}

.margin-neg {
    margin-bottom: 0;
}


    /* ------------------------ Page Nos Biens ----------------------------*/

.page-nosbiens h1 {
    font-size:36px;
    margin-bottom: 5px;
}

.page-nosbiens h2 {
    font-size:26px;
    color: #858585;
}

.page-nosbiens .alignement-titre h2 {
    padding-top: 12px;
}

.page-nosbiens .liste-biens h4 {
    font-size:22px;
    font-weight: 600;
    margin-bottom: 0;
}

.page-nosbiens .proposition-services h4 {
    font-size:22px;
    font-weight: 600;
}

.card .card-content p {
    font-size: 18px;
    color: #858585;
}

.bordure-titre {
    border-bottom: solid 4px #a5c143;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #a5c143;
    font-size: 18px;
}

.moteur-recherche {
    border-radius: 2px;
    box-shadow: 1px 1px 10px #c2c2c2;
    margin-top: -10px;
    padding: 0 10px 10px 10px;
}

#map {
    width: 100%;
    height: 750px;
    background-color: white;
    box-shadow: 1px 1px 10px #c2c2c2;
    margin-top: 20px;
    margin-left: -10px;
}

.liste-biens {
    margin-top: 12px;
    max-height: 760px;
    overflow-y: scroll;
}

/*--- Alignemant des informations des residences---*/

.row .annee-nbPiece h4 {
    margin-top: -1px;
}

.liste-biens .card .card-content {
    padding: 10px 0;
}

.row .grille-infos {
    margin-bottom: 0;
}

.row .nom-residence {
    padding-bottom: 20px;
}

.col .annee-residence {
    padding-left: 2px;
}

/*--- Creation des lignes entre les informations des residences ---*/

.nom-residence {
    border-bottom: solid 1px #e5e5e5;
}

.annee-residence, .grille-gauche {
    border-right: solid 1px #e5e5e5;
}

/* --- Mise en forme des articles du bas e page ---*/









/* --------------------------------------------------------------------*/
/* ------------------------------ FOOTER ------------------------------*/
/* --------------------------------------------------------------------*/

.pre-footer {
    margin-bottom: -7px;
}

.skyline {
    width: 100%;
}

.page-footer {
    /*
    background-color : #939597;
    */
    background-color: black;

    /*    background-image: url('../img/toit_Orleans2-01.svg');
        background-size: cover;*/
}

.footer-right-side {
    border-left: solid #7a7a7a 1px;
}

.footer-right-side a {
    color: lightgrey;
}

.social-footer {
    color: white;
}

.p-footer {
    color: #444444;
    font-size: 16px;

}

.align-icon {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 10px;
}

/* --------------------------------------------------------------------*/
/* ------------------------ MENTIONS LEGALES --------------------------*/
/* --------------------------------------------------------------------*/

.page-footer .footer-copyright {
    background-color: rgba(255, 255, 255, 0.1);
}

.ml-padding-right {
    padding-right: 10px;
}

.row-ml {
    margin-bottom: 0;
}


